$primary: #2c8098;
$secondary: #d0778f;
$info: #bdd8e8;
$success: #559364;
$danger: #ff6760;
$light: #f8f9fb;
$dark: #171316;
$grey: #b1b4bd;

@import url('https://fonts.googleapis.com/css?family=Tajawal');

body{
    font-family: 'Tajawal', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url('/img/cork.png');
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: inherit;
    text-decoration: none;
}

#header{
    background-color: whitesmoke;
    font-size: .5em;
    padding: .1em 2em .1em 2em;
    -webkit-box-shadow: -1px 7px 22px 5px rgba(0,0,0,0.16);
    -moz-box-shadow: -1px 7px 22px 5px rgba(0,0,0,0.16);
    box-shadow: -1px 7px 22px 5px rgba(0,0,0,0.16);
}

#footer{
    background-color: #3d3b43;
    color: #e3e0de;
    font-size: .5em;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
}

#footer h1{
    position: absolute;
    padding: .1em 1em .1em 1em;

}

#reactIco{
    height: 5em;
    padding: .1em 1em .1em 1em;
}

.note{
    background-color: #b6e5e6;
    padding: .5em 2em 2em 2em;
    margin: 1em;
    display: inline-block;
    width: 15%;
}