$primary: #2c8098;
$secondary: #d0778f;
$info: #bdd8e8;
$success: #559364;
$danger: #ff6760;
$light: #f8f9fb;
$dark: #171316;
$grey: #b1b4bd;

@import url('https://fonts.googleapis.com/css?family=Tajawal');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    font-family: 'Tajawal', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url('../img/cork.png');
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: inherit;
    text-decoration: none;
}

#header{
    background-color: whitesmoke;
    font-size: .5em;
    padding: .2em 2em .2em 2em;
    -webkit-box-shadow: -1px 7px 22px 5px rgba(0,0,0,0.16);
    -moz-box-shadow: -1px 7px 22px 5px rgba(0,0,0,0.16);
    box-shadow: -1px 7px 22px 5px rgba(0,0,0,0.16);
}


#addButton{
    position: absolute;
    top: 0;
    right: 5%;
    color:#44c767;

}

#addButton:hover {
    cursor:pointer;
    color:#5be580;
}

#clearButton{
    position: absolute;
    top: 0;
    right: 2%;
    color:#e56a6b;

}

#clearButton:hover {
    cursor:pointer;
    color:#ff7f80;
}


#footer{
    background-color: #3d3b43;
    color: #e3e0de;
    font-size: .5em;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
}

#footer h1{
    position: absolute;
    padding: .1em 1em .1em 1em;

}

#reactIco{
    height: 5em;
    padding: .1em 1em .1em 1em;
}

#reactIco:hover{
    -moz-animation: spin 2s infinite;
    -o-animation: spin 2s infinite;
    -webkit-animation: spin 2s infinite;
    animation: spin 2s infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); }
}

@-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); }
}

@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

.Note{
    background-color: #b6e5e6;
    display: inline-block;
    margin: 1em;
    width: 20%;

    -webkit-box-shadow: 10px 10px 19px -4px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 19px -4px rgba(0,0,0,0.25);
    box-shadow: 10px 10px 19px -4px rgba(0,0,0,0.25);
}

#noteHeader{
    width: 100%;
    margin: 0% 0% 5% 0%;
}

.Note textarea{
    width: 100%;
    font-family: 'Tajawal', sans-serif;
    resize: vertical;
}

.Note input{
    width: 80%;
    margin: 0% 8% 5% 8%;
}

.noteContents{
    padding: 2% 5% 2% 5%;
}

.editButtons{
    padding-left: 75%;
    margin: 2%;
}

.editButtons i{
    color: whitesmoke;
    padding: 5px;
}

.editButtons i:hover{
	cursor:pointer;
    color: #e5e5e5;
}